

.hero{
    height:100vh;
    width:100%;
    background-color: #f8f2f2;
    background:linear-gradient(rgba(240, 240, 244, 0.6),rgba(244, 244, 245, 0.4)) ,url("../../assets/campus.jpg");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}
.text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.text h1{
    margin-bottom: 20px;
    font-size:60px;

}
 .text .div{
    margin-left: 150px;
    margin-bottom: 20px;
  }
  .btn .arrow{
    width:25px;
    margin-left: 10px;
  }