@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&displa');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background-color: #F5F5F5;
}
a{
  text-decoration: none;
}

.container{
  padding-left: 10%;
  padding-right:2%;
}
.btn{
  width: 155px;
  height:30px;
  font-size:18px;
  background-color: white;
  border: none;
  border-radius:20px;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
}
